body{
    background-color: beige;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
h1{
    padding: 12px;
    background-color: antiquewhite;
    border-radius: 50px;
    color: #3e3c3c;
}
.results {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.result{
    background-color: #f6f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300px;
    font-size: 40px;
}

.result img {
    object-fit: cover;
    color: #3e3c3c;
    height: 100%;
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color:#3e3c3c;;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
